{% comment %} List of user addresses (/account/addresses) {% endcomment %}

<section class="container mx-auto my-20">
    <div class="flex flex-row items-center">
        <div class="flex-1 flex flex-row items-center">
            <a href="/account/" class="block text-black hover:text-orange transition-colors focus-visible:outline outline-2 outline-offset-2 outline-orange">
                <span class="sr-only">{{ 'user.main.back' | t }}</span>

                {% render "i-arrow-left-bold" %}
            </a>

            <h2 class="text-4xl ml-8">{{ 'user.main.back' | t }}</h2>
        </div>

        <div class="flex-initial">
            <a href="/account/logout/" class="underline underline-offset-1 hover:no-underline focus-visible:outline outline-2 outline-offset-2 outline-orange">{{ 'user.main.logout' | t }}</a>
        </div>
    </div>

    <div class="mt-8 pt-12 border-t border-black">
        <h3 class="text-lg uppercase font-semibold">{{ 'user.address.heading' | t }}</h3>

        <div class="mt-6 grid grid-cols-12 gap-8">
            {% for address in customer.addresses %}
                <div class="relative bg-alabaster px-8 py-6 col-span-6 md:col-span-4 lg:col-span-3">
                    {% if address == customer.default_address %}
                        <div class="absolute top-0 right-0 p-2 bg-mercury">
                            <p class="text-xxs uppercase font-semibold tracking-widest">{{ 'user.address.default_label' | t }}</h6>
                        </div>
                    {% endif %}

                    <address>
                        <p>{{ address | format_address }}</p>
                    </address>

                    <p class="mt-4">
                        <button class="underline underline-offset-1 hover:no-underline focus-visible:outline outline-2 outline-offset-2 outline-orange" data-modal-trigger="address-edit-{{ address.id }}">{{ 'user.address.edit' | t }}</button>
                    </p>
                </div>
            {% endfor %}
        </div>

        <div class="mt-12 text-center">
            <a 
                href="{{ s.cta_url }}"
                class="font-family-heading text-xxs p-4 uppercase leading-loose rounded-full border border-solid border-black tracking-widest hover:text-white hover:bg-orange hover:border-orange focus:text-white focus:bg-orange focus:border-orange focus-visible:outline-none transition-colors"
                data-modal-trigger="new-address"
            >{{ 'user.address.new' | t }}</a>
        </div>
    </div>
</section>

{% form 'customer_address', customer.new_address %}
    {% if form.errors %}
    <script>
    function closeModalCb() {
        document.location.href = '/account/addresses'
    }
    </script>
    {% endif %}

    <div data-modal="new-address" class="modal {% if form.errors %}modal--visible{% endif %} fixed left-0 top-0 w-full h-full z-40">
        <div class="modal__background fixed left-0 top-0 w-full h-full bg-gray-900/80" data-modal-trigger="new-address"></div>

        <div class="modal__content fixed left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] w-full h-full bg-white p-10 overflow-auto md:w-[40rem] md:h-auto md:max-h-[calc(100%-8rem)]">
            <div class="flex flex-row items-center mb-8">
                <div class="flex-grow">
                    <h3 class="text-lg uppercase font-semibold">{{ 'user.address.form.add_heading' | t }}</h3>
                </div>

                <div class="flex-grow-0">
                    <button data-modal-trigger="new-address">
                        <span class="sr-only">Close a modal</span>
                        
                        {% render "i-close" %}
                    </button>
                </div>
            </div>

            {% render 'form-field',
                type: 'text',
                name: 'address[first_name]',
                id: 'new_address_first_name',
                label: 'user.address.form.first_name',
                has_error: form.errors.messages['first_name'],
                margin_top: '0',
                value: form.first_name,
                required: true
            %}

            {% render 'form-field',
                type: 'text',
                name: 'address[last_name]',
                id: 'new_address_last_name',
                label: 'user.address.form.last_name',
                value: form.last_name,
                has_error: form.errors.messages['last_name'],
                required: true
            %}

            {% render 'form-field',
                type: 'text',
                name: 'address[company]',
                id: 'new_address_company',
                label: 'user.address.form.company',
                value: form.company,
                has_error: form.errors.messages['company'],
                required: false
            %}

            {% render 'form-field',
                type: 'text',
                name: 'address[address1]',
                id: 'new_address_address1',
                label: 'user.address.form.address1',
                value: form.address1,
                has_error: form.errors.messages['address1'],
                required: true
            %}

            {% render 'form-field',
                type: 'text',
                name: 'address[address2]',
                value: form.address2,
                id: 'new_address_address2',
                label: 'user.address.form.address2',
                has_error: form.errors.messages['address2'],
                required: false
            %}

            <div class="flex flex-row">
                <div class="basis-2/3 pr-6">
                    {% render 'form-field',
                        type: 'text',
                        name: 'address[city]',
                        id: 'new_address_city',
                        value: form.city,
                        label: 'user.address.form.city',
                        has_error: form.errors.messages['city'],
                        required: true
                    %}
                </div>

                <div class="basis-1/3">
                    {% render 'form-field',
                        type: 'text',
                        name: 'address[zip]',
                        value: form.zip,
                        id: 'new_address_zip',
                        label: 'user.address.form.zip',
                        has_error: form.errors.messages['zip'],
                        required: true
                    %}
                </div>
            </div>

            <div class="flex flex-row">
                <div class="basis-1/2 pr-3">
                    {% render 'select-field',
                        type: 'text',
                        name: 'address[country]',
                        value: form.country,
                        id: 'new_address_country',
                        label: 'user.address.form.country',
                        has_error: form.errors.messages['country'],
                        options: country_option_tags,
                        required: true
                    %}
                </div>

                <div class="basis-1/2 pl-3">
                    {% render 'select-field',
                        type: 'text',
                        name: 'address[province]',
                        value: form.province,
                        id: 'new_address_province',
                        label: 'user.address.form.province',
                        has_error: form.errors.messages['province'],
                        required: false
                    %}
                </div>
            </div>

            {% render 'form-field',
                type: 'tel',
                name: 'address[phone]',
                id: 'new_address_phone',
                label: 'user.address.form.phone',
                has_error: form.errors.messages['phone'],
                value: form.phone,
                required: true
            %}

            {% render 'checkbox-field',
                margin_top: '6'
                name: 'address[default]',
                id: 'new_address_default',
                value: form.default,
                label: 'user.address.form.default',
                required: false
            %}

            <div class="mt-8 text-center">
                <button 
                    type="submit" 
                    class="font-family-heading uppercase text-xxs px-6 py-3 leading-loose rounded-full border border-solid border-black tracking-widest hover:text-white hover:bg-orange hover:border-orange focus:text-white focus:bg-orange focus:border-orange focus-visible:outline-none transition-colors"
                >{{ 'user.address.form.cta_new' | t }}</button>
            </div>
        </div>
    </div>
{% endform %}

{% for address in customer.addresses %}
    {% form 'customer_address', address %}
        {% if form.errors %}
        <script>
        function closeModalCb() {
            document.location.href = '/account/addresses'
        }
        </script>
        {% endif %}

        <div data-modal="address-edit-{{ address.id }}" class="modal {% if form.errors %}modal--visible{% endif %} fixed left-0 top-0 w-full h-full z-40">
            <div class="modal__background fixed left-0 top-0 w-full h-full bg-gray-900/80" data-modal-trigger="address-edit-{{ address.id }}"></div>

            <div class="modal__content fixed left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] w-full h-full bg-white p-10 overflow-auto md:w-[40rem] md:h-auto md:max-h-[calc(100%-8rem)]">
                <div class="flex flex-row items-center mb-8">
                    <div class="flex-grow">
                        <h3 class="text-lg uppercase font-semibold">{{ 'user.address.form.edit_heading' | t }}</h3>
                    </div>

                    <div class="flex-grow-0">
                        <button data-modal-trigger="address-edit-{{ address.id }}">
                            <span class="sr-only">Close a modal</span>

                            {% render "i-close" %}
                        </button>
                    </div>
                </div>

                {% render 'form-field',
                    type: 'text',
                    name: 'address[first_name]',
                    id: 'edit_address_first_name_{{ address.id }}',
                    label: 'user.address.form.first_name',
                    has_error: form.errors.messages['first_name'],
                    margin_top: '0',
                    value: form.first_name,
                    required: true
                %}

                {% render 'form-field',
                    type: 'text',
                    name: 'address[last_name]',
                    id: 'edit_address_last_name_{{ address.id }}',
                    label: 'user.address.form.last_name',
                    value: form.last_name,
                    has_error: form.errors.messages['last_name'],
                    required: true
                %}

                {% render 'form-field',
                    type: 'text',
                    name: 'address[company]',
                    id: 'edit_address_company_{{ address.id }}',
                    label: 'user.address.form.company',
                    value: form.company,
                    has_error: form.errors.messages['company'],
                    required: false
                %}

                {% render 'form-field',
                    type: 'text',
                    name: 'address[address1]',
                    id: 'edit_address_address1_{{ address.id }}',
                    label: 'user.address.form.address1',
                    value: form.address1,
                    has_error: form.errors.messages['address1'],
                    required: true
                %}

                {% render 'form-field',
                    type: 'text',
                    name: 'address[address2]_{{ address.id }}',
                    value: form.address2,
                    id: 'edit_address_address2',
                    label: 'user.address.form.address2',
                    has_error: form.errors.messages['address2'],
                    required: false
                %}

                <div class="flex flex-row">
                    <div class="basis-2/3 pr-6">
                        {% render 'form-field',
                            type: 'text',
                            name: 'address[city]',
                            id: 'edit_address_city_{{ address.id }}',
                            value: form.city,
                            label: 'user.address.form.city',
                            has_error: form.errors.messages['city'],
                            required: true
                        %}
                    </div>

                    <div class="basis-1/3">
                        {% render 'form-field',
                            type: 'text',
                            name: 'address[zip]',
                            value: form.zip,
                            id: 'edit_address_zip_{{ address.id }}',
                            label: 'user.address.form.zip',
                            has_error: form.errors.messages['zip'],
                            required: true
                        %}
                    </div>
                </div>

                <div class="flex flex-row">
                    <div class="basis-1/2 pr-3">
                        {% render 'select-field',
                            type: 'text',
                            name: 'address[country]',
                            value: form.country,
                            id: 'edit_address_country_{{ address.id }}',
                            label: 'user.address.form.country',
                            has_error: form.errors.messages['country'],
                            options: country_option_tags,
                            required: true
                        %}
                    </div>

                    <div class="basis-1/2 pl-3">
                        {% render 'select-field',
                            type: 'text',
                            name: 'address[province]',
                            value: form.province,
                            id: 'edit_address_province_{{ address.id }}',
                            label: 'user.address.form.province',
                            has_error: form.errors.messages['province'],
                            required: false
                        %}
                    </div>
                </div>

                {% render 'form-field',
                    type: 'tel',
                    name: 'address[phone]',
                    id: 'edit_address_phone_{{ address.id }}',
                    label: 'user.address.form.phone',
                    has_error: form.errors.messages['phone'],
                    value: form.phone,
                    required: true
                %}

                {% render 'checkbox-field',
                    margin_top: '6'
                    name: 'address[default]',
                    id: 'edit_address_default_{{ address.id }}',
                    value: form.default,
                    label: 'user.address.form.default',
                    required: false
                %}

                <div class="mt-8 text-center">
                    <button 
                        type="submit" 
                        class="font-family-heading uppercase text-xxs px-6 py-3 leading-loose rounded-full border border-solid border-black tracking-widest hover:text-white hover:bg-orange hover:border-orange focus:text-white focus:bg-orange focus:border-orange focus-visible:outline-none transition-colors"
                    >{{ 'user.address.form.cta_edit' | t }}</button>
                </div>
            </div>
        </div>
    {% endform %}
{% endfor %}