<!--       code start for flat discount for shorts -->

{% for collection in product.collections %}
  {% if collection.title == "Men's Long Sleeve Performance Tees" or collection.title == "Men's Performance Tees" %}
    {% if product.title == 'Logo Graphic Tee' or product.title == 'Basketball Graphic Tee' or product.title == 'Badge Graphic Tee' %}
      {% else %}
        <div class="shorts_discount">
          <h2 class="shorts_discount_h2">30% automatically applied at Checkout</h2>
        </div>
    {% endif %}
  {% endif %}
{% endfor %}

<!--       code end for flat discount for shorts -->

<div class="px-4 lg:px-11 xl-product:px-0 flex flex-col lg:flex-row lg:items-start lg:max-w-[82.5rem] lg:mx-auto">
  <div class="flex flex-col md:flex-row md:flex-wrap -mx-[0.4375rem] lg:basis-[74%] -mt-[0.875rem] js-product-images-set">
    {% assign i = 0 %}
    {% assign shouldLazy = false %}
    {% for image in product.images %}

      {% if i > 3 %}
        {% assign shouldLazy = true %}
      {% endif %}

      <div class="md:basis-1/2 px-[0.4375rem] mt-[0.875rem]">
        <figure class="aspect-square h-full w-full group js-zoom-image js-product-image-figure" style="background-image: url({{ image | image_url: width: 1920 }});">

          {% render 'c-image'
           , lazy: shouldLazy,
           src: image,
           customClass: 'w-full h-full object-cover transition-opacity lg:hover:opacity-0',
           height: image.height,
           width: image.width,
           alt: image.alt, %}

        </figure>
      </div>

      {% assign i = i | plus: 1 %}
    {% endfor %}

  </div>


  <div class="basis-[26%] mt-4 px-4 lg:pl-10 lg:pr-0 lg:mt-9 gnw-prduct">
    {% render 'c-breadcrumbs'
     , template: template,
     product: product, %}

    <hr class="h-0 border-t border-t-1 border-black w-full mt-5">
    <h1 class="mt-9 font-family-heading text-3xl">{{ product.title }}</h1>
    <!-- YOTPO STAR RATING (PRODUCT PAGE) | location: templates > product.liquid -->
    <div id="yotpo-pdp-stars">
      <div
        class="yotpo bottomLine"
        data-product-id="{{ product.id }}"
        style="padding: 4px 0 0 0;"></div>
    </div>
    <style>
      #yotpo-pdp-stars .text-m {
        padding-left: 4px;
      }
    </style>
    <!-- END | YOTPO STAR RATING (PRODUCT PAGE) -->



    <div
      aria-hidden="true"
      class="bg-black/25 hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full"
      id="largeModal"
      tabindex="-1">
      <div class="relative p-4 w-full max-w-5xl h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700" data-size="{{ product.metafields.my_fields.size_chart_alias }}">
          {% case product.metafields.my_fields.size_chart_alias %}
            {% when 'golf pant' %}
            {% render 't-golf-pant' %}
            {% when 'mens pants' %}
            {% render 't-mens-pants' %}
            {% when 'mens shirts' %}
            {% render 't-mens-shirts' %}
            {% when 'socks' %}
            {% render 't-socks' %}
            {% when 'boys clothing' %}
            {% render 't-boys-clothing' %}
          {% else %}
            {% render 't-mens-shirts' %}
          {% endcase %}
        </div>
      </div>
    </div>
    <div class="flex justify-between items-center"></div>

    {% assign related_items_ids = product.metafields.my_fields.related_color_products | replace: '"', "" | replace: "[", "" | replace: "]", "" | replace: "gid://shopify/Product/", "" %}

    {%- capture related_items_colors -%}
      {%- for related_item in product.metafields.my_fields.related_color_products.value -%}
        {%- assign color = related_item.metafields.my_fields.color | split: '|' -%}
        {{ color[0] }}{%- if forloop.last == false -%},{%- endif -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- capture related_items_multi_colors -%}
      {%- for related_item in product.metafields.my_fields.related_color_products.value -%}
        {%- assign colors = related_item.metafields.my_fields.two_color_box_values.value -%}
        {{ colors }}{%- if forloop.last == false -%}|{%- endif -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- capture related_items_urls -%}
      {%- for related_item in product.metafields.my_fields.related_color_products.value -%}
        {{ related_item.url }}{%- if forloop.last == false -%},{%- endif -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- capture related_items_titles -%}
      {%- for related_item in product.metafields.my_fields.related_color_products.value -%}
        {{ related_item.title }}{%- if forloop.last == false -%},{%- endif -%}
      {%- endfor -%}
    {%- endcapture -%}

    <!-- START | giftship app form  -->
    <!--         <div id="gsAppContainer" class="gs__app-container"></div> -->
    <!-- END | giftship app form  -->

    <!-- START | COMPARE AT PRICE LOGIC -->
      {% if product.compare_at_price_max > 0 %}
        <div class="gnw-copm-pric-single-prdct" style="padding-top: 8px; text-decoration: line-through;"> {{ product.compare_at_price_max | money }}
      </div>
      <div
        id="product-form"
        data-product-type='{{ product.type }}'
        data-product='{{ product | json | escape }}'
        data-related-items='{{ related_items_ids }}'
        data-related-items-colors='{{ related_items_colors }}'
        data-related-items-multi-colors='{{ related_items_multi_colors }}'
        data-related-items-urls='{{ related_items_urls }}'
        data-variant-images='[{% for variant in product.variants %}{ "variantId": {{ variant.id }}, "options": {{ variant.options | json | escape }}, "images": [{% if variant.metafields.my_fields.variant_image_1 != blank %}"{{ variant.metafields.my_fields.variant_image_1 | image_url }}",{% endif %}{% if variant.metafields.my_fields.variant_image_2 != blank %}"{{ variant.metafields.my_fields.variant_image_2 | image_url }}",{% endif %}{% if variant.metafields.my_fields.variant_image_3 != blank %}"{{ variant.metafields.my_fields.variant_image_3 | image_url }}",{% endif %}{% if variant.metafields.my_fields.variant_image_4 != blank %}"{{ variant.metafields.my_fields.variant_image_4 | image_url }}",{% endif %}{% if variant.metafields.my_fields.variant_image_5 != blank %}"{{ variant.metafields.my_fields.variant_image_5 | image_url }}",{% endif %}{% if variant.metafields.my_fields.variant_image_6 != blank %}"{{ variant.metafields.my_fields.variant_image_6 | image_url }}"{% endif %}]},{% endfor %}]'
        data-related-items-titles='{{ related_items_titles }}'
        data-related-color='{{ product.metafields.my_fields.color }}'
        data-related-multi-color='{{ product.metafields.my_fields.two_color_box_values }}'
        data-options-with-values='{{ product.options_with_values | json | escape }}'
        data-product-form-id="{{ product_form_id }}"
        data-type="add-to-cart-form"
        data-action="/cart/add"
        data-before-add-to-cart-description="{{ product.metafields.my_fields.before_add_to_cart_description }}"
        {% for variant in product.variants %}
        data-variant-object="{{ variant | json | escape }}"
        data-variant-color-{{ variant.id }}="{{ variant.metafields.my_fields.color }}"
        {% endfor %}
        {% for product_option in product.options_with_values %}
        {% if product_option.name == "Color" %}
        data-variant-colors="{% for color_option in product_option.values %}{{ color_option }}{%- if forloop.last == false -%}, {%- endif -%}{% endfor %}"
        {% endif %}
        {% endfor %}
        data-lang-add-to-cart="{{ 'product.add_to_cart' | t }}"
        data-lang-colors="{{ 'product.colors' | t }}"
        data-lang-product-unavailable="{{ 'product.product_unavailable' | t }}"
        class="gnw-sale-pric-prdct custom-product-form-selector"></div>
    {% else %}
      <div
        id="product-form"
        data-product-type='{{ product.type }}'
        data-product='{{ product | json | escape }}'
        data-related-items='{{ related_items_ids }}'
        data-related-items-colors='{{ related_items_colors }}'
        data-related-items-multi-colors='{{ related_items_multi_colors }}'
        data-variant-images='[{% for variant in product.variants %}{ "variantId": {{ variant.id }}, "options": {{ variant.options | json | escape }}, "images": [{% if variant.metafields.my_fields.variant_image_1 != blank %}"{{ variant.metafields.my_fields.variant_image_1 | image_url }}",{% endif %}{% if variant.metafields.my_fields.variant_image_2 != blank %}"{{ variant.metafields.my_fields.variant_image_2 | image_url }}",{% endif %}{% if variant.metafields.my_fields.variant_image_3 != blank %}"{{ variant.metafields.my_fields.variant_image_3 | image_url }}",{% endif %}{% if variant.metafields.my_fields.variant_image_4 != blank %}"{{ variant.metafields.my_fields.variant_image_4 | image_url }}",{% endif %}{% if variant.metafields.my_fields.variant_image_5 != blank %}"{{ variant.metafields.my_fields.variant_image_5 | image_url }}",{% endif %}{% if variant.metafields.my_fields.variant_image_6 != blank %}"{{ variant.metafields.my_fields.variant_image_6 | image_url }}"{% endif %}]},{% endfor %}]'
        data-related-items-urls='{{ related_items_urls }}'
        data-related-items-titles='{{ related_items_titles }}'
        data-related-color='{{ product.metafields.my_fields.color }}'
        data-related-multi-color='{{ product.metafields.my_fields.two_color_box_values }}'
        data-options-with-values='{{ product.options_with_values | json | escape }}'
        data-product-form-id="{{ product_form_id }}"
        data-type="add-to-cart-form"
        data-action="/cart/add"
        data-before-add-to-cart-description="{{ product.metafields.my_fields.before_add_to_cart_description }}"
        {% for variant in product.variants %}
        data-variant-object="{{ variant | json | escape }}"
        data-variant-color-{{ variant.id }}="{{ variant.metafields.my_fields.color }}"
        {% endfor %}
        {% for product_option in product.options_with_values %}
        {% if product_option.name == "Color" %}
        data-variant-colors="{% for color_option in product_option.values %}{{ color_option }}{%- if forloop.last == false -%}, {%- endif -%}{% endfor %}"
        {% endif %}
        {% endfor %}
        data-lang-add-to-cart="{{ 'product.add_to_cart' | t }}"
        data-lang-colors="{{ 'product.colors' | t }}"
        data-lang-product-unavailable="{{ 'product.product_unavailable' | t }}"
        class="gnw-sale-pric-prdct custom-product-form-selector"></div>
    {% endif %}
    <!-- END | COMPARE AT PRICE LOGIC -->
    <div
      id="smartwishlist"
      data-product="{{ product.id }}"
      data-variant="{{ product.variants.first.id }}"></div>
    <div style="height: 15px;"></div>
    {% if product.available == false %}
      <button id="BIS_trigger" class="text-center font-family-heading text-xxs py-5 px-5 uppercase leading-none rounded-3xl border border-solid tracking-widest focus-visible:outline-none transition-colors focus:outline focus:outline-2 focus:outline-orange focus:outline-offset-2 text-white border-black bg-black hover:text-black hover:bg-transparent focus:text-black focus:bg-transparent block w-full mt-5 text-pomegranate">Out of Stock <br> <br> Sign up for email to be notified</button>
      <div style="height: 15px;"></div>
    {% endif %}

    {% comment %}
    {% if variant.inventory_quantity < 1 %}
    <button id="BIS_trigger" type="button">Notify me</button>
    {% endif %} -->




    <!-- Placement Shop Pay installment 
    {% endcomment %}



    <div class="shop_pay_inst">
      {% form 'product', product %}
        {{ form | payment_terms }}
      {% endform %}
    </div>
    <!-- End Placement Shop Pay installment -->

    <!-- Placement v2 -->
    <klarna-placement
      data-key="credit-promotion-badge"
      data-locale="en-US"
      data-purchase-amount="15"></klarna-placement>
    <!-- end Placement -->
    {% if product.title != 'Greatness Wins Gift Card' %}
      <span data-narvar-feature="eddCalculator"></span>
    {% endif %}
    <div
      id="accordion-group"
      data-headline1='{{ product.metafields.my_fields.accordion_headline_1.value }}'
      data-description1='{{ product.metafields.my_fields.accordion_description_1.value }}'
      data-headline2='{{ product.metafields.my_fields.accordion_headline_2.value }}'
      data-description2='{{ product.metafields.my_fields.accordion_description_2.value }}'
      data-headline3='{{ product.metafields.my_fields.accordion_headline_3.value }}'
      data-description3='{{ product.metafields.my_fields.accordion_description_3.value }}'
      data-headline4='{{ product.metafields.my_fields.accordion_headline_4.value }}'
      data-description4='{{ product.metafields.my_fields.accordion_description_4.value }}'
      data-headline5='{{ product.metafields.my_fields.accordion_headline_5.value }}'
      data-description5='{{ product.metafields.my_fields.accordion_description_5.value }}'
      data-headline6='{{ 'product.product_inseam' | t }}'
      data-description6='{{ product.metafields.my_fields.inseam.value }}'></div>
  </div>
</div>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
    "@type": "Product",
    "productId": "{{ product.id }}",
  "brand": "{{ product.vendor }}",
  "url": "{{ product.url }}",
  "sku": "{{ product.selected_or_first_available_variant.sku }}",
  {% for collection in product.collections %}
    "category": "{{ collection.title }}",
    {% break %}
  {% endfor %}
  {% if product.featured_image %}
    "image": "{{ product.featured_image.src | image_url: width: 1920 }}",
  {% endif %}
  "name": "{{ product.title }}", 
  "description": "{{ product.description | strip_html }}",
  "offers": {
        "@type": "Offer",
        "price": {{ product.price | divided_by: 100 }},
  "priceCurrency": "USD",
        "url": "{{ product.url }}",
  "availability": "{% if product.available %}http://schema.org/InStock{% else %}http://schema.org/OutOfStock{% endif %}"
  }
  }</script>