<!doctype html>
<html lang="{{ shop.locale }}">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <link rel="canonical" href="{{ canonical_url }}">
        <title>{%- render 'meta-title' -%}</title>

        {%- render 'meta-description' -%}
        {%- render 'meta-favicons' -%}
        {%- render 'meta-og' -%}
        {%- render 'variables-css' -%}

        {{ 'default_page.css' | asset_url | stylesheet_tag }}

        {{ content_for_header }}

    </head>

    <body>

        <main>
            {{ content_for_layout }}
        </main>

        {%- render 'variables-js' -%}

        <script src="{{ 'default_page.js' | asset_url }}" defer></script>

        {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
            {%- include 'boost-pfs' -%}
        {%- endif -%}

        {%- if request.page_type == 'product' -%}
            <script src="{{ 'product_page.js' | asset_url }}" defer></script>
        {%- endif -%}

        {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
            <script src="{{ 'blog_page.js' | asset_url }}" defer></script>
        {%- endif -%}
    </body>
</html>
