<!doctype html>
<html lang="{{ shop.locale }}">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta name="google-site-verification" content="kG3125II6YjKFwBxwVfCDk9oa7YUZ__TP2w_B_toL3s" />
        <link rel="preconnect" href="https://cdn.shopify.com">
        <link rel="preconnect" href="https://static.klaviyo.com">
        <link rel="preconnect" href="https://static.hotjar.com">
        <link rel="preconnect" href="https://staticw2.yotpo.com">
        <link rel="preconnect" href="https://szero.narvar.com">
        <link rel="preconnect" href="https://script.hotjar.com">
        <link rel="preconnect" href="https://static-tracking.klaviyo.com">
        <link rel="preconnect" href="https://www.google-analytics.com">
        <link rel="preconnect" href="https://acsbapp.com">
        <link rel="preconnect" href="https://cdn-loyalty.yotpo.com">
        <link rel="preconnect" href="https://cdn.attn.tv">
        <link rel="preconnect" href="https://app.backinstock.org">
        <link rel="preconnect" href="https://cdn.nfcube.com">
        <link rel="preconnect" href="https://cdn-swell-assets.yotpo.com">

        <!-- CRITICAL CSS PATH START -->
        <style type="text/css">
            *,:before,:after{box-sizing: border-box;border-width: 0;border-style: solid;border-color: #e5e7eb}:before,:after{--tw-content: ""}html{line-height: 1.5;-webkit-text-size-adjust: 100%;-moz-tab-size: 4;-o-tab-size: 4;tab-size: 4;font-family: Montserrat,sans-serif}body{margin: 0;line-height: inherit}h1,h2,h3,h5{font-size: inherit;font-weight: inherit}a{color: inherit;text-decoration: inherit}strong{font-weight: bolder}button,input,textarea{font-family: inherit;font-size: 100%;line-height: inherit;color: inherit;margin: 0;padding: 0}button{text-transform: none}button,[type=button],[type=submit]{-webkit-appearance: button;background-color: transparent;background-image: none}:-moz-focusring{outline: auto}:-moz-ui-invalid{box-shadow: none}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height: auto}::-webkit-search-decoration{-webkit-appearance: none}::-webkit-file-upload-button{-webkit-appearance: button;font: inherit}h1,h2,h3,h5,p{margin: 0}ul{list-style: none;margin: 0;padding: 0}textarea{resize: vertical}input::-moz-placeholder,textarea::-moz-placeholder{opacity: 1;color: #9ca3af}input:-ms-input-placeholder,textarea:-ms-input-placeholder{opacity: 1;color: #9ca3af}img,svg,video,iframe{display: block;vertical-align: middle}img,video{max-width: 100%;height: auto}*,:before,:after{--tw-translate-x: 0;--tw-translate-y: 0;--tw-rotate: 0;--tw-skew-x: 0;--tw-skew-y: 0;--tw-scale-x: 1;--tw-scale-y: 1;--tw-scroll-snap-strictness: proximity;--tw-ring-offset-width: 0px;--tw-ring-offset-color: #fff;--tw-ring-color: rgb(59 130 246 / .5);--tw-ring-offset-shadow: 0 0 #0000;--tw-ring-shadow: 0 0 #0000;--tw-shadow: 0 0 #0000;--tw-shadow-colored: 0 0 #0000;}.container{width: 100%;padding-right: 15.575px;padding-left: 15.575px}@media (min-width: 640px){.container{max-width: 640px}}@media (min-width: 768px){.container{max-width: 768px}}@media (min-width: 1024px){.container{max-width: 1024px}}@media (min-width: 1280px){.container{max-width: 1280px}}@media (min-width: 1340px){.container{max-width: 1340px}}@media (min-width: 1536px){.container{max-width: 1536px}}.container{max-width: 100%}@media (min-width: 640px){.container{max-width: 540px}}@media (min-width: 768px){.container{max-width: 720px}}@media (min-width: 1024px){.container{max-width: 960px}}@media (min-width: 1280px){.container{max-width: 1176px}}@media (min-width: 1536px){.container{max-width: 1176px}}.sr-only{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0,0,0,0);white-space: nowrap;border-width: 0}.visible{visibility: visible}.invisible{visibility: hidden}.fixed{position: fixed}.absolute{position: absolute}.relative{position: relative}.left-0{left: 0px}.top-0{top: 0px}.bottom-0{bottom: 0px}.top-1\/2{top: 50%}.left-1\/2{left: 50%}.right-0{right: 0px}.top-full{top: 100%}.bottom-\[calc\(100\%\+1\.625rem\)\]{bottom: calc(100% + 1.625rem)}.right-2{right: .5rem}.-bottom-2{bottom: -.5rem}.left-0\.5{left: .125rem}.left-2{left: .5rem}.top-2{top: .5rem}.z-10{z-index: 10}.z-20{z-index: 20}.z-negative{z-index: -1}.z-30{z-index: 30}.m-2{margin: .5rem}.mx-auto{margin-left: auto;margin-right: auto}.my-24{margin-top: 6rem;margin-bottom: 6rem}.mt-10{margin-top: 2.5rem}.mt-12{margin-top: 3rem}.mt-4{margin-top: 1rem}.mb-5{margin-bottom: 1.25rem}.mt-2{margin-top: .5rem}.mt-6{margin-top: 1.5rem}.ml-1{margin-left: .25rem}.mt-1{margin-top: .25rem}.mr-2{margin-right: .5rem}.mt-3{margin-top: .75rem}.mt-auto{margin-top: auto}.mt-16{margin-top: 4rem}.mt-11{margin-top: 2.75rem}.ml-4{margin-left: 1rem}.ml-auto{margin-left: auto}.mb-0{margin-bottom: 0}.mb-6{margin-bottom: 1.5rem}.mr-4{margin-right: 1rem}.mt-\[3\.25rem\]{margin-top: 3.25rem}.mt-\[0\.625rem\]{margin-top: .625rem}.mr-auto{margin-right: auto}.-mr-20{margin-right: -5rem}.ml-6{margin-left: 1.5rem}.block{display: block}.inline-block{display: inline-block}.inline{display: inline}.flex{display: flex}.inline-flex{display: inline-flex}.hidden{display: none}.aspect-\[3\/4\]{aspect-ratio: 3 / 4}.h-\[25rem\]{height: 25rem}.h-full{height: 100%}.h-8{height: 2rem}.h-4{height: 1rem}.h-9{height: 2.25rem}.h-20{height: 5rem}.h-screen{height: 100vh}.h-16{height: 4rem}.h-6{height: 1.5rem}.h-11{height: 2.75rem}.h-7{height: 1.75rem}.max-h-\[33\.75rem\]{max-height: 33.75rem}.max-h-0{max-height: 0px}.min-h-\[34rem\]{min-height: 34rem}.w-full{width: 100%}.w-8{width: 2rem}.w-4{width: 1rem}.w-44{width: 11rem}.w-auto{width: auto}.w-0{width: 0px}.w-7{width: 1.75rem}.min-w-0{min-width: 0px}.max-w-full{max-width: 100%}.max-w-\[10\.5rem\]{max-width: 10.5rem}.flex-auto{flex: 1 1 auto}.flex-initial{flex: 0 1 auto}.flex-1{flex: 1 1 0%}.shrink-0{flex-shrink: 0}.shrink{flex-shrink: 1}.grow-0{flex-grow: 0}.grow{flex-grow: 1}.basis-1\/4{flex-basis: 25%}.basis-1\/2{flex-basis: 50%}.basis-auto{flex-basis: auto}.basis-1\/3{flex-basis: 33.333333%}.-translate-y-1\/2{--tw-translate-y: -50%;transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.-translate-x-1\/2{--tw-translate-x: -50%;transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.translate-x-1\/2{--tw-translate-x: 50%;transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.-translate-x-full{--tw-translate-x: -100%;transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.translate-x-full{--tw-translate-x: 100%;transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.-rotate-45{--tw-rotate: -45deg;transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.rotate-45{--tw-rotate: 45deg;transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.transform{transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.flex-row{flex-direction: row}.flex-row-reverse{flex-direction: row-reverse}.flex-col{flex-direction: column}.flex-wrap{flex-wrap: wrap}.items-start{align-items: flex-start}.items-end{align-items: flex-end}.items-center{align-items: center}.justify-end{justify-content: flex-end}.justify-center{justify-content: center}.justify-between{justify-content: space-between}.justify-items-stretch{justify-items: stretch}.gap-0{gap: 0px}.overflow-hidden{overflow: hidden}.overflow-y-auto{overflow-y: auto}.overflow-x-hidden{overflow-x: hidden}.truncate{overflow: hidden;text-overflow: ellipsis;white-space: nowrap}.whitespace-nowrap{white-space: nowrap}.rounded-3xl{border-radius: 1.5rem}.rounded-full{border-radius: 9999px}.border{border-width: 1px}.border-0{border-width: 0px}.border-t{border-top-width: 1px}.border-l{border-left-width: 1px}.border-r{border-right-width: 1px}.border-b{border-bottom-width: 1px}.border-solid{border-style: solid}.border-black{--tw-border-opacity: 1;border-color: rgb(0 0 0 / var(--tw-border-opacity))}.border-white{--tw-border-opacity: 1;border-color: rgb(255 255 255 / var(--tw-border-opacity))}.border-\[\#E8E6E6\]{--tw-border-opacity: 1;border-color: rgb(232 230 230 / var(--tw-border-opacity))}.border-t-black{--tw-border-opacity: 1;border-top-color: rgb(0 0 0 / var(--tw-border-opacity))}.border-l-black{--tw-border-opacity: 1;border-left-color: rgb(0 0 0 / var(--tw-border-opacity))}.border-r-black{--tw-border-opacity: 1;border-right-color: rgb(0 0 0 / var(--tw-border-opacity))}.border-b-black{--tw-border-opacity: 1;border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity))}.bg-alabaster{--tw-bg-opacity: 1;background-color: rgb(247 247 247 / var(--tw-bg-opacity))}.bg-white{--tw-bg-opacity: 1;background-color: rgb(255 255 255 / var(--tw-bg-opacity))}.bg-black{--tw-bg-opacity: 1;background-color: rgb(0 0 0 / var(--tw-bg-opacity))}.bg-\[\#2F2F2F\]{--tw-bg-opacity: 1;background-color: rgb(47 47 47 / var(--tw-bg-opacity))}.bg-\[\#F4F9FF\]{--tw-bg-opacity: 1;background-color: rgb(244 249 255 / var(--tw-bg-opacity))}.bg-dove-gray\/\[\.5\]{background-color: #6f6e6e80}.bg-gray-50{--tw-bg-opacity: 1;background-color: rgb(249 250 251 / var(--tw-bg-opacity))}.bg-transparent{background-color: transparent}.bg-mercury{--tw-bg-opacity: 1;background-color: rgb(232 230 230 / var(--tw-bg-opacity))}.bg-cover{background-size: cover}.bg-center{background-position: center}.bg-no-repeat{background-repeat: no-repeat}.object-cover{-o-object-fit: cover;object-fit: cover}.\!p-0{padding: 0!important}.p-2{padding: .5rem}.p-1{padding: .25rem}.px-4{padding-left: 1rem;padding-right: 1rem}.py-2{padding-top: .5rem;padding-bottom: .5rem}.py-5{padding-top: 1.25rem;padding-bottom: 1.25rem}.py-4{padding-top: 1rem;padding-bottom: 1rem}.px-5{padding-left: 1.25rem;padding-right: 1.25rem}.px-6{padding-left: 1.5rem;padding-right: 1.5rem}.py-3{padding-top: .75rem;padding-bottom: .75rem}.px-3{padding-left: .75rem;padding-right: .75rem}.py-1{padding-top: .25rem;padding-bottom: .25rem}.pt-10{padding-top: 2.5rem}.pb-10{padding-bottom: 2.5rem}.pt-12{padding-top: 3rem}.pt-6{padding-top: 1.5rem}.pb-12{padding-bottom: 3rem}.pl-7{padding-left: 1.75rem}.pt-9{padding-top: 2.25rem}.pt-20{padding-top: 5rem}.pr-4{padding-right: 1rem}.pt-1{padding-top: .25rem}.pr-20{padding-right: 5rem}.pr-14{padding-right: 3.5rem}.text-center{text-align: center}.text-lg{font-size: 1.125rem;line-height: 1.75rem}.text-xxs{font-size: .625rem;line-height: .875rem}.text-4xl{font-size: 2.25rem;line-height: 2.5rem}.text-sm{font-size: .875rem;line-height: 1.25rem}.text-5xl{font-size: 3rem;line-height: 1}.text-xl{font-size: 1.25rem;line-height: 1.75rem}.text-xs{font-size: .75rem;line-height: 1rem}.text-3xl{font-size: 1.75rem;line-height: 2.25rem}.text-2xl{font-size: 1.5rem;line-height: 2rem}.text-\[1\.75rem\]{font-size: 1.75rem}.text-base{font-size: 1rem;line-height: 1.5rem}.text-\[16px\]{font-size: 16px}.font-semibold{font-weight: 600}.font-bold{font-weight: 700}.font-light{font-weight: 300}.font-medium{font-weight: 500}.font-normal{font-weight: 400}.uppercase{text-transform: uppercase}.leading-loose{line-height: 2}.leading-6{line-height: 1.5rem}.leading-relaxed{line-height: 1.625}.leading-none{line-height: 1}.leading-10{line-height: 2.5rem}.leading-7{line-height: 1.75rem}.leading-5{line-height: 1.25rem}.leading-8{line-height: 2rem}.tracking-widest{letter-spacing: .1em}.tracking-wider{letter-spacing: .05em}.text-white{--tw-text-opacity: 1;color: rgb(255 255 255 / var(--tw-text-opacity))}.text-black{--tw-text-opacity: 1;color: rgb(0 0 0 / var(--tw-text-opacity))}.text-\[\#262B36\]{--tw-text-opacity: 1;color: rgb(38 43 54 / var(--tw-text-opacity))}.text-dove-gray{--tw-text-opacity: 1;color: rgb(111 110 110 / var(--tw-text-opacity))}.text-neutral-500{--tw-text-opacity: 1;color: rgb(115 115 115 / var(--tw-text-opacity))}.underline{-webkit-text-decoration-line: underline;text-decoration-line: underline}.placeholder-white::-moz-placeholder{--tw-placeholder-opacity: 1;color: rgb(255 255 255 / var(--tw-placeholder-opacity))}.placeholder-white:-ms-input-placeholder{--tw-placeholder-opacity: 1;color: rgb(255 255 255 / var(--tw-placeholder-opacity))}.opacity-0{opacity: 0}.shadow-sm{--tw-shadow: 0px 4px 8px rgba(0,0,0,.1);--tw-shadow-colored: 0px 4px 8px var(--tw-shadow-color);box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.outline-none{outline: 2px solid transparent;outline-offset: 2px}.outline-2{outline-width: 2px}.outline-offset-2{outline-offset: 2px}.outline-orange{outline-color: #ff5000}body{-webkit-overflow-scrolling: touch}.yotpo.testimonials{display: none!important;right: 1rem;white-space: pre-line}:root{--swiper-theme-color: #007aff}.swiper{margin-left: auto;margin-right: auto;position: relative;overflow: hidden;list-style: none;padding: 0;z-index: 1}.swiper-wrapper{position: relative;width: 100%;height: 100%;z-index: 1;display: flex;box-sizing: content-box}.swiper-wrapper{transform: translateZ(0)}.swiper-slide{flex-shrink: 0;width: 100%;height: 100%;position: relative}.splide__list{-webkit-backface-visibility: hidden;backface-visibility: hidden;display: flex;height: 100%;margin: 0!important;padding: 0!important;transform-style: preserve-3d}.splide{outline: none;position: relative;visibility: hidden}.splide__slide{-webkit-backface-visibility: hidden;backface-visibility: hidden;box-sizing: border-box;flex-shrink: 0;list-style-type: none!important;margin: 0;outline: none;position: relative}.splide__slide img{vertical-align: bottom}.splide__track{overflow: hidden;position: relative;z-index: 0}html{font-weight: var(--font-weight-base);font-style: var(--font-style-base);font-family: var(--font-family-base);-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;font-size: 14px}@media (min-width: 768px){html{font-size: 16px}}h1,h2,h3,h5{font-weight: var(--font-weight-heading);font-style: var(--font-style-heading);font-family: var(--font-family-heading)}a{display: inline-block;text-decoration: none}.font-family-heading{font-weight: var(--font-weight-heading);font-style: var(--font-style-heading);font-family: var(--font-family-heading)}.link-indicator{outline-width: 2px;outline-color: #ff5000}.entry-content *:not([class*=my-]):not([class*=mt-]):first-child{margin-top: 0}.entry-content>p{margin-top: .625rem}.player__video-wrapper{padding-bottom: 56.25%;height: 0px}.player__video-wrapper video{-o-object-fit: cover;object-fit: cover}.player__controls-playpause[data-state=play] .player__controls-playpause-play{display: block}.player__controls-playpause[data-state=play] .player__controls-playpause-pause{display: none}.player__controls-mute svg{height: 100%;max-width: 100%}.player__controls-mute[data-state=mute] .player__controls-mute-name--mute{display: block}.player__controls-mute[data-state=mute] .player__controls-mute-name--unmute{display: none}.player__controls-mute[data-state=mute] .player__controls-mute-icon--mute{display: inline}.player__controls-mute[data-state=mute] .player__controls-mute-icon--unmute{display: none}.skip-links__item{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0,0,0,0);white-space: nowrap;border-width: 0;z-index: 30;margin: .5rem;--tw-bg-opacity: 1;background-color: rgb(0 0 0 / var(--tw-bg-opacity));padding: .5rem 1rem;--tw-text-opacity: 1;color: rgb(255 255 255 / var(--tw-text-opacity))}.main-header .top-banner__button svg{width: 100%;height: 100%}.main-header .navigation__mobile-menu-link,.main-header .navigation__mobile-menu-nested-link{outline-width: 2px;outline-offset: 2px;outline-color: #ff5000}.main-header .navigation__mobile-menu-link:after,.main-header .navigation__mobile-menu-nested-link:after{position: absolute;display: block;height: .125rem;width: 0px;--tw-bg-opacity: 1;background-color: rgb(255 80 0 / var(--tw-bg-opacity));--tw-content: "";content: var(--tw-content)}.main-header .navigation__mobile-menu-link:after{content: var(--tw-content);bottom: -.25rem}.main-header .navigation__mobile-menu-nested-link:after{content: var(--tw-content);bottom: -0px}.main-header .navigation__menu-toggle{height: 2.25rem;padding: 0 0 0 2.25rem}.main-header .navigation__menu-toggle .line{left: .28125rem;width: 1.6875rem;height: 2px;border-radius: 1px;position: absolute;display: block;--tw-bg-opacity: 1;background-color: rgb(255 255 255 / var(--tw-bg-opacity));opacity: 1}.main-header .navigation__menu-toggle .line:nth-of-type(1){bottom: calc(50% + 6px)}.main-header .navigation__menu-toggle .line:nth-of-type(2){top: calc(50% - 1px)}.main-header .navigation__menu-toggle .line:nth-of-type(3){top: calc(50% + 6px)}.main-header .navigation__menu-toggle--white .line{--tw-bg-opacity: 1;background-color: rgb(255 255 255 / var(--tw-bg-opacity))}.main-header .navigation__brand-link img{max-width: 100%!important}.main-header .navigation__menu-link{outline-width: 2px;outline-offset: 2px;outline-color: #ff5000}.main-header .navigation__menu-link:after{position: absolute;bottom: -.25rem;display: block;height: .125rem;width: 0px;--tw-bg-opacity: 1;background-color: rgb(255 80 0 / var(--tw-bg-opacity));--tw-content: "";content: var(--tw-content)}.main-header .navigation__menu-link--black svg path{fill: #fff}.main-header .navigation__menu-link--black svg ellipse{stroke: #fff}.main-header .navigation__menu-link--black svg .path{stroke: #fff}.main-header .navigation__mega-menu-item:first-child{--tw-bg-opacity: 1;background-color: rgb(247 247 247 / var(--tw-bg-opacity))}@media (min-width: 1024px){.main-header .navigation__mega-menu-item:first-child{width: 12.625rem;padding-left: 2rem;padding-right: 2rem}}@media (min-width: 1280px){.main-header .navigation__mega-menu-item:first-child{width: 19.0625rem;padding-left: 8rem;padding-right: 2rem}.main-header .navigation__mega-menu-item:nth-child(2){margin-left: 4rem}}.main-header .navigation__mega-menu-item:not(:first-child):not(:last-child){flex: 1 1 0%}.main-header .navigation__mega-menu{visibility: hidden;display: flex}.main-header .navigation__dropdown-menu{z-index: -1;visibility: hidden;display: flex}.main-content{padding-top: 69px}@media (min-width: 768px){.main-content{padding-top: 4.5rem}}.main-content--additional-margin{margin-top: 22px}@media (min-width: 768px){.main-content--additional-margin{margin-top: 1.5rem}}.footer__nav ul ul{margin-left: 2rem}.footer__nav-item{text-shadow: 0px 4px 4px rgba(0,0,0,.25)}.footer__socials-list a{width: 1.9375rem;min-width: 1.9375rem;height: 1.9375rem}.footer__socials-list a svg{width: 100%;height: 100%}.js-main-footer{content-visibility: auto}.full-width-image-boxes__item{position: relative;display: block;width: 100%;overflow: hidden}.full-width-image-boxes__item--simple:before{position: absolute;top: 0px;left: 0px;z-index: 1;height: 100%;width: 100%;background-color: #000000b3;--tw-content: "";content: var(--tw-content)}@media (min-width: 768px){.full-width-image-boxes__item--simple{width: 50%}}@media (min-width: 1024px){.full-width-image-boxes__item--simple:before{visibility: hidden;opacity: 0;content: var(--tw-content)}}.full-width-image-boxes__caption--simple{position: absolute;top: 50%;left: 50%;z-index: 2;--tw-translate-x: -50%;--tw-translate-y: -50%;transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}@media (min-width: 1024px){.full-width-image-boxes__caption--simple{visibility: hidden;opacity: 0}}.icon--black svg path{fill: #fff}.icon--black svg ellipse{stroke: #fff}.icon--black svg .path{stroke: #fff}.custom-scrollbar{scrollbar-width: thin;scrollbar-color: #ADB2B5 #F7F7F7}.custom-scrollbar::-webkit-scrollbar-track{background-color: #f7f7f7}.custom-scrollbar::-webkit-scrollbar{width: .375rem;height: .375rem;background-color: #f7f7f7}.custom-scrollbar::-webkit-scrollbar-thumb{background-color: #adb2b5}.placeholder\:uppercase::-moz-placeholder{text-transform: uppercase}.placeholder\:uppercase:-ms-input-placeholder{text-transform: uppercase}.after\:absolute:after{content: var(--tw-content);position: absolute}.after\:bottom-0:after{content: var(--tw-content);bottom: 0px}.after\:left-0:after{content: var(--tw-content);left: 0px}.after\:block:after{content: var(--tw-content);display: block}.after\:h-0\.5:after{content: var(--tw-content);height: .125rem}.after\:w-0:after{content: var(--tw-content);width: 0px}.after\:border-b:after{content: var(--tw-content);border-bottom-width: 1px}.after\:border-solid:after{content: var(--tw-content);border-style: solid}.after\:border-b-white:after{content: var(--tw-content);--tw-border-opacity: 1;border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity))}.after\:bg-orange:after{content: var(--tw-content);--tw-bg-opacity: 1;background-color: rgb(255 80 0 / var(--tw-bg-opacity))}.after\:transition-\[width\]:after{content: var(--tw-content)}.after\:duration-150:after{content: var(--tw-content)}.after\:ease-in-out:after{content: var(--tw-content)}.after\:content-\[\'\'\]:after{--tw-content: "";content: var(--tw-content)}.last\:mr-0:last-child{margin-right: 0}@media (min-width: 640px){.sm\:h-\[33\.75rem\]{height: 33.75rem}.sm\:w-96{width: 24rem}.sm\:pt-\[4\.75rem\]{padding-top: 4.75rem}.sm\:pb-\[4\.75rem\]{padding-bottom: 4.75rem}}@media (min-width: 768px){.md\:block{display: block}.md\:hidden{display: none}.md\:h-auto{height: auto}.md\:w-\[28\.4375rem\]{width: 28.4375rem}}@media (min-width: 1024px){.lg\:static{position: static}.lg\:relative{position: relative}.lg\:right-4{right: 1rem}.lg\:mx-auto{margin-left: auto;margin-right: auto}.lg\:mt-0{margin-top: 0}.lg\:mr-6{margin-right: 1.5rem}.lg\:mr-12{margin-right: 3rem}.lg\:mr-4{margin-right: 1rem}.lg\:ml-14{margin-left: 3.5rem}.lg\:mr-14{margin-right: 3.5rem}.lg\:mr-\[6\.8125rem\]{margin-right: 6.8125rem}.lg\:mr-5{margin-right: 1.25rem}.lg\:block{display: block}.lg\:flex{display: flex}.lg\:hidden{display: none}.lg\:h-\[45rem\]{height: 45rem}.lg\:h-full{height: 100%}.lg\:h-\[4\.5rem\]{height: 4.5rem}.lg\:h-28{height: 7rem}.lg\:h-9{height: 2.25rem}.lg\:w-full{width: 100%}.lg\:w-64{width: 16rem}.lg\:w-\[22\.125rem\]{width: 22.125rem}.lg\:max-w-\[62\.125rem\]{max-width: 62.125rem}.lg\:basis-1\/3{flex-basis: 33.333333%}.lg\:transform-none{transform: none}.lg\:flex-row{flex-direction: row}.lg\:items-end{align-items: flex-end}.lg\:justify-end{justify-content: flex-end}.lg\:justify-center{justify-content: center}.lg\:gap-6{gap: 1.5rem}.lg\:border-t{border-top-width: 1px}.lg\:border-solid{border-style: solid}.lg\:border-t-black{--tw-border-opacity: 1;border-top-color: rgb(0 0 0 / var(--tw-border-opacity))}.lg\:border-b-white{--tw-border-opacity: 1;border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity))}.lg\:px-4{padding-left: 1rem;padding-right: 1rem}.lg\:pt-12{padding-top: 3rem}.lg\:pl-4{padding-left: 1rem}.lg\:pt-6{padding-top: 1.5rem}.lg\:text-white{--tw-text-opacity: 1;color: rgb(255 255 255 / var(--tw-text-opacity))}}@media (min-width: 1280px){.xl\:mr-9{margin-right: 2.25rem}.xl\:mr-20{margin-right: 5rem}.xl\:w-\[16\.25rem\]{width: 16.25rem}.xl\:w-auto{width: auto}.xl\:max-w-\[83\.25rem\]{max-width: 83.25rem}.xl\:max-w-\[120rem\]{max-width: 120rem}.xl\:whitespace-normal{white-space: normal}.xl\:px-16{padding-left: 4rem;padding-right: 4rem}.xl\:pl-8{padding-left: 2rem}.xl\:pl-5{padding-left: 1.25rem}}.cart-items-count{background-color: #2f2f2f;color: #fff;position: absolute;width: 20px;height: 20px;border-radius: 20px;font-size: 12px;top: -10px;text-align: center}
        </style>

        <style>
            .smartwishlist .pro-thumb-swlist{
                position: absolute;
	            z-index: 1 !important;
	            left: 10px;
	            top: 5px;
	            margin: 0;
	            font-size: 20px !important;
	            display: none !important;
            }
        </style>
        <!-- CRITICAL CSS PATH END -->

        <!-- LOAD REST CSS ASYNC START -->
        <link rel="preload" href="{{ 'default_page.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ 'default_page.css' | asset_url }}"></noscript>
        <link rel="preload" href="{{ 'custom_styles.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ 'custom_styles.css' | asset_url }}"></noscript>
        <!-- LOAD REST CSS ASYNC END -->

        <link rel="preload" as="image" href="https://cdn.shopify.com/s/files/1/0607/3031/0847/files/Home-Hero.webp?v=1656410506" type="image/webp">

        {%- render 'variables-css' -%}

        <link rel="canonical" href="{{ canonical_url }}">
        <title>
            {{ page_title }}
            {%- if request.page_type == 'product' %}
                {% for product_option in product.options_with_values %}
                    {% if product_option.name == "Color" %}
                        {% for color_option in product_option.values %}
                            {{ color_option }}
                            {%- if forloop.last == false -%},
                            {%- endif -%}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif -%}
            {%- if current_tags %}
                &ndash; tagged "{{ current_tags | join: ', ' }}"
            {% endif -%}
            {%- if current_page != 1 %}
                &ndash; Page
                {{ current_page }}
            {% endif -%}
            {%- unless page_title contains shop.name %}
                &ndash;
                {{ shop.name }}
            {% endunless -%}
        </title>

        {%- render 'meta-description' -%}
        {%- render 'meta-favicons' -%}
        {%- render 'meta-og' -%}

        {{ content_for_header }}

        {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
            {%- include 'boost-pfs-style' -%}
        {%- endif -%}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script src="https://www.googletagmanager.com/gtag/js?id=G-EF75WGSMQ3" defer></script>
        <script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-EF75WGSMQ3');
		</script>

        <!-- Hotjar Tracking Code for https://www.greatnesswins.com -->
        <script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:3025925,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "WebSite",
				"@id": "{{ shop.secure_url }}/#website",
				"url": "{{ shop.secure_url }}",
				"potentialAction": {
					"@type": "SearchAction",
					"target": "{{ shop.secure_url }}/search?q={query}",
					"query-input": "required name=query"
				}
			}
		</script>
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"@id": "{{ shop.secure_url }}/#org",
				"name": "{{ shop.name }}",
				"url": "{{ shop.secure_url }}",
				"description": "{{ shop.description }}",
				"telephone": "{{ shop.phone }}",
				"logo": "{{ settings.logo_dark | img_url }}",
				"image": "{{ settings.logo_dark | img_url }}",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "{{ shop.address.street }}",
					"addressLocality": "{{ shop.address.city }}",
					"addressRegion": "{{ shop.address.province }}",
					"postalCode": "{{ shop.address.zip }}",
					"addressCountry": "{{ shop.address.country }}"
				}
			}
		</script>

        <!-- YOTPO JAVASCRIPT | location: layout > theme.liquid -->
        <script>
            (function e(){
				var e=document.createElement("script");
				e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/UkCHsjiu6UpW1ZMqTBR8woLNu0isrYeXSs5lbFfO/widget.js";
				var t=document.getElementsByTagName("script")[0];
				t.parentNode.insertBefore(e,t)
			})();
        </script>
        <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/IWkcWx_sxehmZhGPgYdVYQ" defer></script>
        <!-- END | YOTPO JAVASCRIPT -->

        {%- if request.page_type == 'product' -%}
            <script src="https://js.narvar.com/greatnesswins/en/PDP.js"></script>
        {%- endif -%}
        <meta name="facebook-domain-verification" content="pdz9c9j2ib6j3nv35unl4myjego6ld" />
    
 {% render 'giftship' %} 


{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
{%- assign time_now = 'now' | date: '%s' %}
{%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
{%- assign diffSeconds = time_now | minus: yotpo_live_time %}
{%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
{{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
{%- endif -%}
</head>

    <body class="overflow-x-hidden">
<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>







        <ul class="skip-links absolute top-2 left-2">
            <li>
                <a class="skip-links__item js-skip-link" href="#main-navbar">{{ 'navigation.skip_links.nav' | t }}</a>
            </li>
            <li class="hidden lg:block">
                <a class="skip-links__item js-skip-link" href="#search">{{ 'navigation.skip_links.search' | t }}</a>
            </li>
            <li>
                <a class="skip-links__item js-skip-link" href="#main-content">{{ 'navigation.skip_links.main' | t }}</a>
            </li>
            <li>
                <a class="skip-links__item js-skip-link" href="#main-footer">{{ 'navigation.skip_links.footer' | t }}</a>
            </li>
        </ul>

        <header class="main-header w-full fixed top-0 left-0 right-0 transition-transform z-20 js-main-header" id="header">
            <div class="flex justify-center bg-[#2F2F2F] text-white w-full text-center transition-[max-height] js-top-banner">
                <div class="container relative xl:max-w-[83.25rem] flex justify-center items-center py-1">
                    <p class="text-xs">Save 25% OFF Site Wide With Code BLACKFRIDAY</p>
                    <button aria-label="{{ 'navigation.top_banner_close_button_label' | t }}" class="top-banner__button absolute right-2 lg:right-4 top-1/2 -translate-y-1/2 focus-visible:outline-2 outline-offset-2 outline-orange js-top-banner-button h-4 w-4">
                        <span aria-hidden="true">{%- render 'i-close-white' -%}</span>
                    </button>
                </div>
            </div>
            {%- section 'navbar' -%}
        </header>

        <main class="main-content main-content--additional-margin js-main-content" id="main-content" style="margin-top: -20px;">
            {%- if template.name == "index" -%}
                <h1 class="sr-only">{{ page_title }}</h1>
            {%- endif -%}
            {{ content_for_layout }}
        </main>

        <footer class="js-main-footer" id="main-footer">
            {%- section 'footer' -%}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="{{ 'custom_jq_xlogic.js' | asset_url }}" defer></script>
        </footer>

        {%- render 'variables-js' -%}

        <script src="{{ 'default_page.js' | asset_url }}" defer></script>

        {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
            {%- include 'boost-pfs' -%}
            <script src="{{ 'custom_quick_buy_scripts.js' | asset_url }}" defer></script>
        {%- endif -%}

        {%- if request.page_type == 'product' -%}
            <script src="{{ 'product_page.js' | asset_url }}" defer></script>
            <script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>
        {%- endif -%}

        {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
            <script src="{{ 'blog_page.js' | asset_url }}" defer></script>
        {%- endif -%}

        {%- if request.page_type == 'search' -%}
        <script crossorigin="anonymous" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {%- endif -%}

        {%- if request.page_type == 'collection' -%}
            {% if collection.metafields.my_fields.show_promo_banner %}

                <script crossorigin="anonymous" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                {% if collection.handle == "mens-compression-bottoms" or collection.handle == "mens-compression-tops" %}
                    <script src="{{ 'custom_scripts.js' | asset_url }}" defer></script>
                {% else %}
                    <script src="{{ 'custom_script_additional.js' | asset_url }}" defer></script>
                {% endif %}

            {% endif %}
        {%- endif -%}

        <script>
			(function(){
				var s    = document.createElement('script');
				var h    = document.querySelector('head') || document.body;
				s.src    = 'https://acsbapp.com/apps/app/dist/js/app.js';
				s.async  = true;
				s.onload = function(){
					acsbJS.init({
						statementLink    : '',
						footerHtml       : '',
						hideMobile       : false,
						hideTrigger      : false,
						disableBgProcess : false,
						language         : 'en',
						position         : 'right',
						leadColor        : '#146FF8',
						triggerColor     : '#146FF8',
						triggerRadius    : '50%',
						triggerPositionX : 'right',
						triggerPositionY : 'bottom',
						triggerIcon      : 'people',
						triggerSize      : 'bottom',
						triggerOffsetX   : 20,
						triggerOffsetY   : 20,
						mobile           : {
							triggerSize      : 'small',
							triggerPositionX : 'right',
							triggerPositionY : 'bottom',
							triggerOffsetX   : 20,
							triggerOffsetY   : 20,
							triggerRadius    : '20'
						}
					});
				};
				h.appendChild(s);
			})();
		</script>
        <!-- Klarna Javascript - start -->
        <script data-client-id="f84509b6-2524-5d3f-9f71-17f869e25ff5" src="https://na-library.klarnaservices.com/lib.js" defer></script>
        <!-- Klarna Javascript - end -->

        <!-- Narvar Shop Now Javascript - start -->
        <script src="https://szero.narvar.com/packs/js/shop_now.js"></script>
        <!-- Narvar Shop Now Javascript - end -->
        {% if product %}
            <script>
                var _learnq = _learnq || [];
                var item = {
                    Name: {{ product.title|json }},
                    ProductID: {{ product.id|json }},
                    Categories: {{ product.collections|map:'title'|json }},
                    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
                    URL: "{{ shop.secure_url }}{{ product.url }}",
                    Brand: {{ product.vendor|json }},
                    Price: {{ product.price|money|json }},
                    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
                };
                _learnq.push(["track", "Viewed Product", item]);
                _learnq.push([
                    "trackViewedItem", {
                        Title: item.Name,
                        ItemId: item.ProductID,
                        Categories: item.Categories,
                        ImageUrl: item.ImageURL,
                        Url: item.URL,
                        Metadata: {
                            Brand: item.Brand,
                            Price: item.Price,
                            CompareAtPrice: item.CompareAtPrice
                        }
                    }
                ]);
            </script>
            <script>
                var _learnq = _learnq || [];
                if (document.getElementById("AddToCart")) {
                    document.getElementById("AddToCart").addEventListener("click", function () {
                        _learnq.push(["track", "Added to Cart", item]);
                    });
                } else {
                    const observer = new MutationObserver((mutations, obs) => {
                        const addToCartButton = document.getElementById("AddToCart");
                        if (addToCartButton) {
                            addToCartButton.addEventListener("click", function () {
                                _learnq.push(["track", "Added to Cart", item]);
                            });
                            obs.disconnect();
                            return;
                        }
                    });

                    observer.observe(document, {
                        childList: true,
                        subtree: true
                    });
                }
            </script>
        {% endif %}
		<script>nv_shopnow.init({ bannerContainer: document.querySelector('header.main-header'), });</script>
       <style>

klarna-placement:after{
  content: "FREE SHIPPING OVER $75";
  font-size:18x;
    margin-top: 20px;
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: center;
    color:#FF4713; position:relative;
}
  </style>
    <!-- CRITEO START -->
{% render 'criteo-tracking' %}
<!-- CRITEO END -->

<!-- Back in Stock helper snippet -->
{% render 'back-in-stock-helper' %}
<!-- End Back in Stock helper snippet -->
{% include 'subscribe-it-helper' %}</body>


</html>