<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>{%- render 'meta-title' -%}</title>

    {%- render 'meta-description' -%}
    {%- render 'meta-favicons' -%}
    {%- render 'meta-og' -%}
    {%- render 'variables-css' -%}

    {{ 'default_page.css' | asset_url | stylesheet_tag }}
    <style>
      .intro-gw-sec p{font-weight:normal;}
.intro-gw-sec { padding:50px 0; }
.collection-header > div h2 {
    max-width: 350px;
    font-size: 36px;
}

.collection-item-wrapper {
    margin-bottom: 30px;
}
.cust-em-logo {
    text-align: center;
    margin-bottom: 50px;
}
.cust-em-logo img {
    display: inline-block;
    max-width: 200px;
}
.product-type-promo {
    background: #f6f6f6;
    text-align: center;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    padding: 0 15px;
}

.product-type-promo h2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    max-width: 280px;
}

.product-type-promo p {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-transform: none;
    margin-top: 16px;
    max-width: 90%;
}

.collection-header > div {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.product-type-promo[data-product-title="Core Tech Quarter Zip"] h2,
.product-type-promo[data-product-title="Performance Training Quarter Zip"] h2 {
    max-width: 250px;
}

.cart-items-count {
    background-color: #2f2f2f;
    color: #fff;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: 12px;
    top: -10px;
    text-align: center;
}
img[alt="Chris signature"] {
    margin-left: 0;
    max-width: 280px;
}
.smartwishlist {
    font-size: 12px !important;
    position: absolute;
    display: none !important;
}
/* chat icon hide */

iframe#dummy-chat-button-iframe {
    display: none !important;
}
/* chat icon hide */
@media only screen and (min-width: 768px) {
    .product-type-promo h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .product-type-promo p {
        margin-top: 32px;
    }
}
div#smartwishlist {
    display: none !important;
}
.smartwishlist.pro-thumb-swlist{
    position: absolute;
    z-index: 1 !important;
    left: 10px;
    top: 5px;
    margin: 0;
    font-size: 20px !important;
    display: none !important;
}
/**
@media only screen and (min-width: 1400px) {
  .collection-item-wrapper.boost-pfs-filter-products {
  display: flex;
  }
  .collection-item-wrapper.boost-pfs-filter-products > * {
  width: 322px;
  }
}
**/
.yotpo-promoted-product .yotpo-product-link {
    width: 100%;
}
/**Greg css start**/
.shop_pay_inst{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    text-align: left;
    color: #17120f;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #eae7e4;
    border-radius: 0px;
    border-width: 1px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 5px;
}

.gnw-sale-pric {
    color: red;
    font-weight: 900;
}
.gnw-copm-pric {
    color: black;
    font-weight: 100;
    padding-right: 8px;
}
.gnw-sale-pric-prdct .mt-3 span.block.text-sm {
    color: red;
      font-weight: 900;
}
.gnw-copm-pric-single-prdct {
    font-size: 14px;
}



.text-pomegranate {
	cursor: pointer;
	background-color: #ff4713;
	padding: 15px;
	text-align:center;
	border-radius: 25px;
	color: white;
	
}
/* .text-pomegranate span{
  text-decoration: underline;
} */
.text-pomegranate:hover {
	background-color: white;
	color: black;
  border: 1px solid black;
}


.gry-card-h6 {
	margin-top: 50px;
	font-size: 12px;
	text-transform: capitalize;
}
.gry-card-p {
	margin-top: 10px !important;
}
.gry-card-sty h2 {
	font-size: 16px;
	line-height: 20px;
}
.gry-card-sty p {
	margin-top: 6px !important;
	font-size: 8px;
	line-height: 12px;
}
.gry-card-sty img {
  width: 80px;
}
/* .gry-card-sty{
padding-top: 50px;
padding-bottom: 20px;
} */

@media(max-width:767px){

  .gry-card-sty {
	padding: 0px 2px;
}
.gry-card-sty h2 {
	font-size: 10px;
	line-height: 14px;
}  
.gry-card-sty p {
	margin-top: 2px !important;
	font-size: 6px;
	line-height: 9px;
}  
.gry-card-h6 {
	margin-top: 20px;
	font-size: 8px;
	text-transform: capitalize;
}
.gry-card-sty img {
	width: 50px;
}  
  
 #BIS_trigger {
	background-color: #ff4713 !important;
	border-color: #ff4713 !important;
} 


/**CODE FOR 30% flat off start **/
.shorts_discount {
	text-align: center;
	padding: 10px 0;
	background-color: #ff7800;
}
.shorts_discount_h2 {
	font-size: 17px;
	color: #fff;
	font-weight: bolder;
}
.shorts_discount_h2.collection_shorts_discount_h2 {
	font-size: 12px;
}

.flat_off_cart {
	font-size: 11px;
	margin-top: 15px;
	color: #ff7800;
}
@media(max-width:767px){
  .shorts_discount_h2.collection_shorts_discount_h2 {
	font-size: 6px;
}
}

  
/**CODE FOR 30% flat off end **/
  
      
/**Greg css end**/
.shipping-script{
    display: block;
    max-width: 1340px;
    margin: 20px auto 20px
}
    </style>
    <link
      rel="preload"
      href="{{ 'custom_styles.css' | asset_url }}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ 'custom_styles.css' | asset_url }}"></noscript>
    {{ content_for_header }}

    {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
      {%- include 'boost-pfs-style' -%}
    {%- endif -%}

    <script type="application/ld+json">
      {
      "@context": "https://schema.org",
                                        "@type": "WebSite",
                                        "@id": "{{ shop.secure_url }}/#website",
      "url": "{{ shop.secure_url }}",
      "potentialAction": {
                                            "@type": "SearchAction",
                                            "target": "{{ shop.secure_url }}/search?q={query}",
      "query-input": "required name=query"
                                        }
                                    }
    </script>
    <script type="application/ld+json">
      {
      "@context": "https://schema.org",
                                        "@type": "Organization",
                                        "@id": "{{ shop.secure_url }}/#org",
      "name": "{{ shop.name }}",
      "url": "{{ shop.secure_url }}",
      "description": "{{ shop.description }}",
      "telephone": "{{ shop.phone }}",
      "logo": "{{ settings.logo_dark | img_url }}",
      "image": "{{ settings.logo_dark | img_url }}",
      "address": {
                                            "@type": "PostalAddress",
                                            "streetAddress": "{{ shop.address.street }}",
      "addressLocality": "{{ shop.address.city }}",
      "addressRegion": "{{ shop.address.province }}",
      "postalCode": "{{ shop.address.zip }}",
      "addressCountry": "{{ shop.address.country }}"
      }
                                    }
    </script>

    <!-- YOTPO JAVASCRIPT | location: layout > theme.liquid  -->
    <script type="text/partytown">
      (function e(){
      var e=document.createElement("script");
                                            e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/UkCHsjiu6UpW1ZMqTBR8woLNu0isrYeXSs5lbFfO/widget.js";
                                            var t=document.getElementsByTagName("script")[0];
                                            t.parentNode.insertBefore(e,t)
                                        })();
    </script>
    <!-- END | YOTPO JAVASCRIPT -->
  </head>

  <body class="overflow-x-hidden">
    <img
      width="99999"
      height="99999"
      style="pointer-events: none; position: absolute; top: 0; left: 0; width: 99vw; height: 99vh; max-width: 99vw; max-height: 99vh;"
      src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+">

    <ul class="skip-links absolute top-2 left-2">
      <li>
        <a class="skip-links__item js-skip-link" href="#main-navbar">{{ 'navigation.skip_links.nav' | t }}</a>
      </li>
      <li class="hidden lg:block">
        <a class="skip-links__item js-skip-link" href="#search">{{ 'navigation.skip_links.search' | t }}</a>
      </li>
      <li>
        <a class="skip-links__item js-skip-link" href="#main-content">{{ 'navigation.skip_links.main' | t }}</a>
      </li>
      <li>
        <a class="skip-links__item js-skip-link" href="#main-footer">{{ 'navigation.skip_links.footer' | t }}</a>
      </li>
    </ul>

    <header class="main-header w-full fixed top-0 left-0 right-0 transition-transform z-20 js-main-header" id="header">
      <div class="flex justify-center bg-[#C4C4C4] text-black w-full text-center transition-[max-height] h-11 js-top-banner">
        <div class="container relative xl:max-w-[83.25rem] flex justify-center items-center py-2">
          <p class="text-sm sm:text-base lg:text-lg font-semibold">{{ 'navigation.top_banner_text' | t }}</p>
          <button aria-label="{{ 'navigation.top_banner_close_button_label' | t }}" class="top-banner__button absolute right-2 lg:right-0 top-1/2 -translate-y-1/2 focus-visible:outline-2 outline-offset-2 outline-orange js-top-banner-button">
            <span aria-hidden="true">{%- render 'i-close' -%}</span>
          </button>
        </div>
      </div>
      {%- section 'navbar' -%}
    </header>

    <main
      class="main-content main-content--additional-margin js-main-content"
      style="margin-top: -0px;"
      id="main-content">
      {%- if template.name == "index" -%}
        <h1 class="sr-only">{{ page_title }}</h1>
      {%- endif -%}
      {{ content_for_layout }}
    </main>

    <footer class="js-main-footer" id="main-footer">
      {%- section 'footer' -%}
    </footer>

    {%- render 'variables-js' -%}

    <script src="{{ 'default_page.js' | asset_url }}" defer></script>

    {%- if request.page_type == 'collection' or request.page_type == 'search' -%}
      {%- include 'boost-pfs' -%}
      <script src="{{ 'custom_quick_buy_scripts.js' | asset_url }}" defer></script>
    {%- endif -%}

    {%- if request.page_type == 'product' -%}
      <script src="{{ 'product_page.js' | asset_url }}" defer></script>
    {%- endif -%}


    {%- if request.page_type == 'collection' -%}
      {% if collection.metafields.my_fields.show_promo_banner %}

        <script
          crossorigin="anonymous"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% if collection.handle == "mens-compression-bottoms" or collection.handle == "mens-compression-tops" %}
          <script src="{{ 'custom_scripts.js' | asset_url }}" defer></script>
        {% else %}
          <script src="{{ 'custom_script_additional.js' | asset_url }}" defer></script>
        {% endif %}

      {% endif %}
    {%- endif -%}

    {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
      <script src="{{ 'blog_page.js' | asset_url }}" defer></script>
    {%- endif -%}
  </body>
</html>